.THIS .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .THIS .td .th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .THIS .tr:nth-child(even) {
    background-color: #dddddd;
  }
  .THIS {
    background: white;
  }